{% extends "rideService/homeBase.html" %}
{% block content %}
    {% for request in requests %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%;">
          <div class="media-body">
            <div class="article-metadata">
                <h2>{{ request.destination }}</h2>
                <small class="text-muted">Created by: {{ request.ride_owner.username}}</small>
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'request-update' request.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'request-delete' request.id %}">Delete</a>
            </div>
        
            </div>
                <p class="article-content">Arrival Time: {{ request.arrival_time}}</p>
                <p class="article-content">Status: {{ request.status}}</p>
                <p class="article-content">Last Update Time: {{ request.last_updated}}</p>
                <p class="article-content">Number of Passengers: {{ request.num_passengers}}</p>
                <p class="article-content">Can be shared: {{ request.shareable}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}