{% extends "rideService/homeBase.html" %}
{% block content %}
    <div style="font-size:50px; color:#000; margin-left: 15%; margin-right: 15%; background-color:#fff; opacity: 0.7;">
        <h2 style = "text-align:center;">Hello, {{driver.account.username}}! Which request do you want to accpet?</h2>
    </div>
    {% for request in requests %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%; margin-top: 5%;">
            <div class="media-body">
                <div class="article-metadata">
                    <h2>Destination: {{ request.destination }}  
                            <a style="position: relative; left:270px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'driver-request-detail' request.id %}">
                                View Details
                            </a>
                            <a style="position: relative; left:290px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'accept-request' request.id request.last_updated%}">
                                Accpet Request
                            </a>
                        </h2>
                    <p class="article-content">Arrival Time: {{ request.arrival_time}}</p>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}